/* blocks css */
.blocks {
    margin          : 20px;
    width           : 200px;
    height          : 200px;
    display         : inline-block;
    overflow        : hidden;
    position        : relative;
    box-shadow      : 6px 6px 11px 0px rgba(0,0,0,0.67);
    border-radius   : 5%;
    background-color: #F1EBE4;
}

.blocks .img_container{
  height: 100px;
  display:table-cell;    /*----------->置中方法*/
  text-align:center;
  vertical-align : middle;
}

.blocks img {
    width: 200px;
}

.blocks_title{
  padding-top  : 20px;
  font-size    : 20px;
  margin-bottom: 10px;
}

.blocks_text{
    height: 100px;
    padding-left: 20px;
}

