/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


// color
$green: #87d3b7;


/* NAVBAR */

.navbar {
	top: 0;
	left: 0;
	right: 0;
	color: #666;
	background-color: #ddd;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	z-index: 1;

	.tabs{
		height: 56px;
  		text-align: center;
  		font-size: 150%;
  		background-color: white;
		div {
			display: inline-block;
			margin: 0;
		}

		a {
			display: block;
			text-decoration: none;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border-bottom: 2px solid $green;
		}
	}
}

.tab1 {
	display: none;
	padding: 30px 0;


	// &:first-child {display: block;}
}





.current a {
	color: #fff;
	background: $green;
}

// END TAB ~~~~~~~~~~~~~~~ (.)(.)
